html {
    font-size: 12px;
}

body {
    margin: 0;
    font-family: Lato, sans-serif;
    font-size: 1rem;
    color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 1rem;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


.container {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
}

.about__inner {
    padding-top: 40px;
    margin: 0 40px 0 40px;
    width: 940px;
    display: flex;
    flex-direction: column;
}

.about__inner h2 {
    font-family: Lato-Bold;
    font-weight: 900;
    color: #666d89;
    font-size: 30px;
    margin-bottom: 0;
}

.about__inner p {
    margin-top: 18px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: Lato-Light;
    font-weight: 300;
    text-align: justify;
}

/* Contact */

.contact {
    background-color: #f06c64;
    padding-bottom: 52px;
}

.about__inner_contact h2 {
    margin-top: 19px;
    color: #f0d8d9;
}

.about__inner_contact p {
    color: #f0d8d9;
}

.contact__window {
    display: flex;
}

.contact__input {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 33px;
    width: 620px;
    color: #de6662;
}

.input__item {
    margin-bottom: 16px;
    height: 38px;
    border-radius: 5px;
    background-color: #d6564f;
    border-style: none;
    color: #f48c8f;
    padding-left: 15px;
    font-size: 11px;
    letter-spacing: 0.049em;

}

.input__item::placeholder {
    color: #f48c8f;
}

.input__item_big {
    padding-top: 10px;
    font-family: Lato, sans-serif;
    height: 200px;
    font-size: 11px;
    letter-spacing: 0.034em;
    resize: none;
}

.input__item:focus {
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}

.contact__information {
    color: #f0d8d9;
    max-width: 310px;
    margin-left: 20px;
    padding-top: 30px;
    letter-spacing: 0.01em;
}

.contact__information h3 {
    font-size: 18px;
    font-weight: 800;
}

.contact__information p {
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.8em;
    font-weight: 100;
    word-wrap: break-word;
}

.contact__line {
    display: block;
    width: 100%;
    height: 7px;
    background-color: #ea676b;
}

.communication {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.communication__line {
    display: grid;
    grid-template-columns: 15px 200px;
    margin-bottom: 7px;
}

.communication__item {
    text-decoration: none;
    color: #f0d8d9;
    font-size: 12px;
    padding-left: 8px;
    font-weight: 100;
    letter-spacing: -0.001em;
}

.communication__line img {
    margin: auto auto;
}

/* footer */

footer {
    background-color: #2d303a;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    height: 75px;
}

.footer__copyright {
    margin: auto 0;
    color: #666d89;
    padding-left: 41px;
    letter-spacing: -0.01em;
}

.footer__social {
    padding-right: 35px;
    padding-top: 20px;
}

.footer__social img {
    padding-right: 5px;
}

.btn_big {
    display: inline-block;
    vertical-align: top;
    padding: 10px 30px;
    max-width: 400px;
    border: 2px solid #666d89;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    font-family: inherit;
    color: #666d89;
    font-size: 18px;
    font-weight: 800;
    text-decoration: none;
    text-align: center;
    margin-top: 114px;
    transition: background-color .3s linear,color .3s linear,border-color .3s linear;
}

.btn_big:hover {
    color: #f2f2f2;
    background-color: #d6564f;
    border-color: #f2f2f2;
}